/* INIT */
* {
  box-sizing: border-box;
  margin: 0; 
  padding: 0; 
  word-break: keep-all;
}

/* 리스트 블릿기호 초기화 */
ul, li, ol {
  list-style: none;
}

/* 버튼 초기화 */
button {
  border: 0; 
  cursor: pointer; 
  background-color: rgb(0,0,0,0.1);
}

/* a 태그 초기화 */
a {
  text-decoration: none;
}

/* MAIN WRAP */
#app {
  display: flex;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
}

#main {
  display: flex;
  flex-direction: column;
  flex: 3;
  background-color: red;
}

#pageWrap {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  width: 70%;
  height: 600px;
  flex: 1 0 auto;
}