#postUpload {
    display: flex;
    height: 150px;
    /* background-color: blue; */
    width: 100%;;
    padding: 10px;
    border: 1px solid black;
}

#userProfile {
    flex: 0 0 100px;
    height: 100px;
    background-color: beige;
    border-radius: 50%;
    overflow: hidden;
}

#userProfile > img {
    width: 100%;
}

#uploadInputWrap {
    flex: 1 1 auto;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

#hashtagInput {
    display: flex;
    align-items: flex-start;
    flex-wrap: wrap;
    background-color: white;
}

#hashtagInput > ul {
    display: flex;
    flex-wrap: wrap;
}

#hashtagInput > ul > li {
    background-color: white;
    border: 1px solid black;
    border-radius: 10px;
    white-space: nowrap;
    cursor: pointer;
}

#hashtagInput > input {
    border: none;
    flex: 1;
}
  
#uploadBottom {
    display: flex;
    justify-content: space-between;
}

#uploadBtnWrap {
    display: flex;
}

#uploadBtnWrap > button {
    width: 80px;
    margin-left: 5px;
    border: 1px solid #7f0000;
    background-color: white;
    padding: 10px;
    border-radius: 5px;
}

#uploadBtnWrap > button:hover {
    background-color: #7f0000;
    color: white;
}

#uploadBtnWrap > div {
    color: red;
    font-weight: 700;
}