#reviews{
    background-color: aqua;
    width: 100%;
    padding: 10px;
    overflow-y: scroll;
}
  
#sortBtnWrap{
    display: flex;
    justify-content: flex-end;
}

#reviewWrap{
    display: flex;
    flex-direction: column;
}

.sortBtn {
    margin-left: 10px;
}

.sortBtn.selected {
    background-color: greenyellow;
    border: 1px solid green;
}