.review {
    display: flex;
    margin: 30px 0;
    /* border: 1px solid black; */
    /* background-color:darkturquoise; */
    box-shadow: 3px 5px 7px rgba(0,0,0,0.5);
}

.userImg {
    width: 100px;
    min-width: 100px;
    height: 100px;
    /* flex: 0 1 100px; */
    background-color: bisque;
    border-radius: 50%;
    overflow: hidden;
}

.userImg > img {
    width: 100%;
    min-width: 100px;
}

.reviewInWrap {
    display: flex;
    flex: 1 1 auto;
    justify-content: space-around;
    flex-direction: column;
    padding: 5px;
}

.reviewInWrap > div {
    display: flex;
    flex: 0 1 auto;
    justify-content: space-between;
}

.review-contents {
    flex: 1 1 auto;
    background-color: white;
    /* border: 1px solid black; */
    border-bottom: 1px solid red;
    margin: 10px 0;
    cursor: pointer;
    padding: 10px 10px 5px;
}

.hashtag-wrap {
    display: flex;
    flex-wrap: wrap;
}

.hashtag {
    /* border: 1px solid black; */
    padding: 3px;
    margin: 0 3px;
    border-radius: 10px;
    white-space: nowrap;
    box-shadow: 1px 3px 5px rgba(0,0,0,0.5);
}

#postMenu {
    width: 30px;
    height: 30px;
    font-size: 15px;
    text-align: center;
    line-height: 20px;
    background-color: white;
}