#sideBar {
    display: flex;
    flex: 1;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    background-color: green;
    padding: 20px;
}

#sideBarLogoWrap {
    width: 100%;
    /* flex: 0 1 auto; */
    /* background-color: darkturquoise; */
}

#sideBarLogo {
    width: 50px;
    height: 50px;
    background-color: bisque;
}

#sideBarMenu {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    padding: 0;
    background-color: darkcyan;
}

#sideBarMenu > li {
    width: 100%;
    margin: 20px 0;
    text-align: center;
    background-color: chartreuse;
}

#logoutBtnWrap {
    width: 100%;
    display: flex;
    justify-content: flex-end;
    /* background-color: darkviolet; */
}